*{
    margin: 0;
    padding: 0;
}
.containerLight{
    height: 100%;
    background-color: whitesmoke;
    color: grey; 

}  

.containerDark{
    height: 100%;
    background-color: #1b262c;
    color:#0f4c75;
}
.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    padding-top: 2%;
    flex-shrink: 0;
}

.body{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.clock{
    margin: 0 auto;
    text-align: center;
    padding: 12% 0 12% 0;
    font-size: 1em;
}

.timezoneSelect{
    padding: 10% 20% 10% 20%;
    text-align: center;
}

.selectionPanel{
    padding: 3% 20% 5% 25%;
    display: flex;
    flex-direction: row;
    font-size: 1.1em;
}

.modeSelection{
    display: flex;
    flex-direction: column;
    padding: 10% 10% 20% 10%;
}

.credits{
    text-align: right;
    padding: 6% 2% 2% 2%;
    flex-shrink: 0;
}

a{
    outline: none;
    text-decoration: none;
}

a:link,:visited{
    color: grey;
}
/*a:hover,:active{
    color: #000033;
}*/

@media only screen and (min-width:768px){
    .title{
        font-size: 1.5em;
    }

    .clock{
        font-size: 1.1em;
        padding: 3% 0 5% 0;
    }

    .timezoneSelect{
        padding: 3% 30% 3% 30%;
    }

    .selectionPanel{
        padding: 3% 30% 3% 35%;
        font-size: 1.1em;
    }
}

@media only screen and (min-width:1000px){
    .title{
        font-size: 1.8em;
    }

    .clock{
        font-size: 1.2em;
        padding: 3% 0 5% 0;
    }

    .timezoneSelect{
        padding: 3% 40% 3% 40%;
    }

    .selectionPanel{
        padding: 3% 40% 3% 40%;
        font-size: 1.2em;
    }
}